<div class="container">
  <div class="show">
    <p class="show_title">タイトル</p>
    <%= @article.title %>
    <p class="show_content">内容</p>
    <%= @article.content %>
    <div class="show_heart">
      <%= image_tag 'heart.svg'%>
    </div>
  </div>
</div>